<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>REVIEWS-User</title>
</head>
<body>
<header>
    <nav class="center">
        <ul>
            <li><a href="/">Home</a></li>|
            <li><a href="/reviews">Reviews</a></li>|
            <li><a href="/users">Users</a></li>|
            <li><a href="/categories">Categories</a></li>
        </ul>
    </nav>

    <h1 th:text="${user.userNick}"></h1>

</header>

<main>
        <img th:src="${user.userAvatarUrl}" class="user-img">
    <!-- main -->
</main>

<footer>
    <p>©2022 Copyright WCCI - Design by  Louis II T.</p>
</footer>
</body>
</html>
